@font-face {
    font-family: os;
    src: url('webfonts/OpenSans-Regular.ttf');
}

html {
    --color-background-secondary: hsl(0, 0%, 0%);
    --color-background:           hsl(0, 0%, 10%);
    --color-elevation:            hsl(0, 0%, 12.5%);;

    --color-highlight:      hsl(0, 0%, 90%);

    --color-accent-blue:    hsl(221, 70%, 70%);
    --color-accent-yellow:  hsl( 45, 70%, 70%);
    --color-accent-red:     hsl(342, 70%, 70%);

    --gradient-yellow-blue: linear-gradient(20deg, var(--color-accent-blue), var(--color-accent-yellow));
    --gradient-red-yellow:  linear-gradient(20deg, var(--color-accent-red), var(--color-accent-yellow));

    /* Default sizes */
    --size-medium: 0.9rem;
    --size-huge:   calc(var(--size-medium) *   3);
    --size-big:    calc(var(--size-medium) * 1.5); /* header, key info                  */
    --size-small:  calc(var(--size-medium) * 0.5); /* inner spacing                     */
    --size-tiny:   calc(var(--size-medium) * 0.125); /* blueprint room outlines          */

    --shadow-default:     var(--size-tiny) var(--size-tiny) var(--size-tiny)   hsl(0, 0%, 7.5%);
    --shadow-glow-yellow: 0                0                var(--size-medium) var(--color-accent-yellow);
    --shadow-glow-red:    0                0                var(--size-medium) var(--color-accent-red);

    --transition-all-default: all 125ms;
    --border-radius-default: var(--size-medium)
}
