html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    box-sizing: border-box;
    color: var(--color-highlight);
    font-family: os, sans-serif;
    font-size: var(--size-medium);
    height: 100%;
    line-height: var(--size-medium);
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: var(--size-big);
    line-height: var(--size-big);
    font-weight: normal;
    margin: vaR(--size-medium) 0;
}

strong {
    font-size: var(--size-big);
    line-height: var(--size-big);
    font-weight: normal;
}

::-webkit-scrollbar {
    display: none;
}


.flyin-up {
    animation: 500ms both flyin-up;
}

@keyframes flyin-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: none;
    }
}