html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--color-background);
    box-sizing: border-box;
    color: var(--color-highlight);
    font-family: os, sans-serif;
    font-size: var(--size-medium);
    height: 100%;
    line-height: var(--size-medium);
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: var(--size-big);
    line-height: var(--size-big);
    font-weight: normal;
    margin: var(--size-big) 0 var(--size-medium);
}

strong {
    font-size: var(--size-big);
    line-height: var(--size-big);
    font-weight: normal;
}

::-webkit-scrollbar {
    display: none;
}


.flyin-left {
    animation: 500ms both flyin-left;
}

.flyin-right {
    animation: 500ms both flyin-right;
}

.flyin-up {
    animation: 500ms both flyin-up;
}

@keyframes flyin-left {
    from {
        transform: translateX(calc(-1 * var(--size-big)));
        opacity: 0
    }
    to {
        transform: none;
        opacity: unset;
    }
}

@keyframes flyin-right {
    from {
        transform: translateX(var(--size-big));
        opacity: 0
    }
    to {
        transform: none;
        opacity: unset;
    }
}

@keyframes flyin-up {
    from {
        transform: translateY(var(--size-big));
        opacity: 0
    }
    to {
        transform: none;
        opacity: unset;
    }
}