[Unit]
Description=home dashboard

[Service]
WorkingDirectory=/home/pi/home-dashboard-deployment
ExecStart=/usr/bin/node /home/pi/home-dashboard-deployment/Server.js
Type=simple
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
