@font-face {
    font-family: os;
    src: url('webfonts/OpenSans-Regular.ttf');
}

html {
    --color-background: hsl(0, 0%, 12.5%);
    --color-glass: hsla(0, 0%, 5%, 0.75);

    --color-semihighlight: hsl(0, 0%, 50%);
    --color-highlight: hsl(0, 0%, 75%);
    --color-accent: hsl(194, 75%, 75%);

    /* Default sizes */
    --size-medium: 0.8rem;
    --size-huge: calc(var(--size-medium) * 3);
    --size-big: calc(var(--size-medium) * 1.5); /* header, key info                  */
    --size-small: calc(var(--size-medium) * 0.5); /* inner spacing                     */
    --landsacpe-count: 5;

    --size-card-side: max(calc(3.5 * var(--size-huge)), min(12vw, 12vh));
    --size-double-card-side: calc((var(--size-card-side) * 2) + var(--size-medium));

    --transition-all-default: all 125ms;
    --border-radius-default: var(--size-big);
    --glass-filter: saturate(2) blur(var(--size-medium));
}
