@font-face {
    font-family: os;
    src: url('webfonts/OpenSans-Regular.ttf');
}

html {
    --color-background: hsl(0, 0%, 10%);
    --color-elevation: hsla(0, 0%, 25%, 0.5);
    --gradient-glass: linear-gradient(170deg, hsla(0, 0%, 0%, 0.25), transparent);

    --color-semihighlight: hsl(0, 0%, 66%);
    --color-highlight: hsl(0, 0%, 95%);

    /* Default sizes */
    --size-medium: 0.8rem;
    --size-huge: calc(var(--size-medium) * 3);
    --size-big: calc(var(--size-medium) * 1.5);
    --size-small: calc(var(--size-medium) * 0.5);

    --transition-all-default: all 250ms ease;
    --border-radius-default: var(--size-medium);
    --glass-filter: saturate(2) blur(var(--size-big));

    --cards-column-count: 2;
}


@media (min-width: 60rem) {
    html {
        --cards-column-count: 4;
    }
}
