html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--color-background);
    box-sizing: border-box;
    color: var(--color-highlight);
    font-family: os, sans-serif;
    font-size: var(--size-medium);
    height: 100%;
    line-height: var(--size-medium);
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: var(--size-big);
    line-height: var(--size-big);
    font-weight: lighter;
    margin: var(--size-medium) 0 0 0;
}

strong {
    font-size: var(--size-big);
    line-height: var(--size-big);
    font-weight: normal;
}

input[type=range] {
    appearance: none;
    background: var(--color-semihighlight);
    height: var(--size-small);
    margin: calc((var(--size-medium) - var(--size-small)) / 2) 0;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
    appearance: none;
    background: var(--color-highlight);
    border-radius: calc(var(--size-big) / 2);
    cursor: pointer;
    height: var(--size-big);
    width: var(--size-big);
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: var(--color-highlight)
}

::-webkit-scrollbar {
    display: none;
}

.flyin-up {
    animation: 250ms both flyin-up;
}

@keyframes flyin-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: none;
    }
}
